diffusers==0.28.2
einops==0.4.1
fire==0.4.0
Flask==3.0.3
Flask_Cors==4.0.1
numpy==1.23.3
opencv_python==4.10.0.82
Pillow==10.0.0
Pillow==10.3.0
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
tqdm==4.63.1
transformers==4.41.2
